html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden; /* Prevent scrolling */
}

#auth {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
  padding-top: 60px; /* Adjust this value according to the height of the #auth div */
  background-color: #f0f0f0; /* Light grey background */
}

header, #register, #history {
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

header {
  margin-top: 80px; /* Ensure it doesn't overlap with the fixed #auth div */
  text-align: center;
  background-color: transparent; /* Remove background color */
  border-radius: 0; /* Remove border radius */
  padding: 0; /* Remove padding */
  box-shadow: none; /* Remove box shadow */
}

#register-button {
  margin: 20px 0;
}

.history-box {
  text-align: center;
}
